<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Анализ Зарплат по Вакансиям</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Анализ вакансий</h1>
    <form action="/analyze" method="post">
        <label for="text">Поисковый запрос:</label>
        <input type="text" id="text" name="text" required>
        <label for="region">Регион: <a href="/regions" title="Список регионов доступен здесь.">?</a></label>
        <input type="text" id="region" name="region" required>
        <button type="submit">Анализировать</button>
    </form>
    <div id="results">
        {% if results %}
            <h2>Результаты Анализа:</h2>
            <img src="data:image/png;base64,{{ plot_url }}" alt="Plot">
        {% endif %}
    </div>
    <div id="status">
        {% if status %}
            <p>{{ status }}</p>
        {% endif %}
    </div>
    <div id="error">
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
